.index-header{
    background-image: url(../../img/imagen-fondo.png);
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;

    section{
        @extend %flexColumnAlign;
        button{
            width: 200px;
            height: 50px;
            margin: 0 auto;
            margin-top: 20px;
            border: none;
            border-radius: 5px;
            background-color: #007BFF;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover{
                background-color: #0056b3;
            }
        }
    }
}
.index-header h1{
    color: white;
    text-align: center;

    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index-header h1 span{
    font-weight: 400;
    font-size: 1rem;
    
}